.text {
  margin: 0 auto;
  max-width: 1660px;
  position: relative;
  padding-top: 50px;
  line-height: 1.5em;
  font-size: 20px;
  color: gray;
}

.textBlock {
  position: relative;
  bottom: 100px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: 0 10%;
}

.circle {
  margin: 30px;
  position: relative;
  bottom: 50px;
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #3C93D5;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: radial-pulse 2s infinite;
}

.circle p {
  position: relative;
  bottom: 3px;
  font-size: 35px;
}

.btn {
  position: relative;
  top: 30px;
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(37, 103, 141, 0.5);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(58, 156, 196, 0);
  }
}


@media only screen and (max-width: 1024px) {
  .circle {
    display: none;
  }
  .text {
    margin-top: 30px;
    top: 50px;
  }
}





