.ara {
    position: sticky;
    top: 0;
    z-index: 8000;
}

.allNavBar {
    position: relative;
    height: 50px;
    background: rgb(255, 255, 255);
    max-width: 100%;
    overflow: hidden;
}

.logo1 img {
    position: relative;
    right: 475px;
    top: 10px;
    width: 30px;
}

.logo2 img {
    position: relative;
    bottom: 50px;
    right: 475px;
    width: 80px;
    animation: spin 5s linear 0s infinite;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.allNavBar ul {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    display: flex;
}
.allNavBar ul li {
    list-style: none;
}
.allNavBar ul li a {
    width: 150px;
    position: relative;
    display: block;
    margin: 0 10px;
    padding: 5px 10px;
    color: #aaa;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    overflow: hidden;
}
.allNavBar ul li a::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: -100%;
    width: 100%;
    height: 4px;
    background: rgba(33, 150, 243, 0.58);
    transition: 0.5s;
}
.allNavBar ul li a:hover {
    color: #fff;
}
.allNavBar ul li a:hover::before {
    animation: animate .5s linear forwards;
}

@keyframes animate {
    0% {
        top: calc(50% - 2px);
        left: -100%;
        height: 4px;
        z-index: 1;
    }
    50% {
        top: calc(50% - 2px);
        left: 0;
        height: 4px;
        z-index: 1;
    }
    100% {
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }
}

.allNavBar hr {
    border: 2px solid rgba(227, 235, 243, 0.38);
    position: relative;
    overflow: visible;
    bottom: 79px;
}
.allNavBar hr:after {
    content: "";
    border: 2px solid rgba(99, 104, 231, 0.41);
    position: absolute;
    width: 20%;
    top: -2px;
    animation: anim-hr 8s linear infinite;
}
@keyframes anim-hr {
    0% {
        left: -20%;
    }
    100% {
        left: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .allNavBar {
        display: none;
    }
}