@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 7px;
    background-color: #f9f9fd;
}

body::-webkit-scrollbar-thumb {
    background-color: #222e50;
}

body {
    user-select: none;
    margin: 0;
    padding: 0;
    animation: fadeIn 1s;
    overflow-x:hidden;
    color: slategray;
}

input:focus, textarea:focus {
    outline: none;
}

a {
    color: #000 !important;
    text-decoration: none;
}

* {
    font-family: 'Oswald', sans-serif;
}

img {
    pointer-events: none;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


