$items: 5;
$transition-duration: 0.5s;
$transition-delay: 0.05s;

.container {
    display: block;
    position: fixed;
    top: 20px;
    z-index: 9990;
    max-width: 300px;
    height: 300px;
    border-radius: 0 0 50px 0;
}

#toggle {
    position: absolute;
    left: -100%;
    top: -100%;
}

#toggle:focus {

    & ~ .toggle-container .button-toggle {
        box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
    }
}

#toggle:checked {
    & ~ .toggle-container .button-toggle {
        box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);

        &:hover {
            box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
            background: #3C93D5;
        }

        &:before {
            transform: translateY(-50%) rotate(45deg) scale(1);
            background: #799bb3;
        }

        &:after {
            transform: translateY(-50%) rotate(-45deg) scale(1);
            background: #de1dc5;
        }
    }

    &:focus ~ .toggle-container .button-toggle {
        box-shadow: 0 0 0 550px rgb(246, 245, 245), inset 0 0 0 20px rgb(255, 255, 255), 0 0 0 8px rgb(255, 255, 255), inset 0 0 0 20px rgb(255, 255, 255);
    }

    & ~ .nav {
        margin-bottom: 100px;
        pointer-events: auto;
        transform: translate(50px, 50px);

        .nav-item {
            color: #EC7263;
            letter-spacing: 0;
            height: 40px;
            line-height: 40px;
            margin-top: 0;
            opacity: 1;
            transform: scaleY(1);
            transition: $transition-duration, opacity 0.1s;

            @for $i from 1 through $items {
                &:nth-child(#{$i}) {
                    $delay: ($items - $i) * $transition-delay;
                    transition-delay: $delay;
                    &:before {
                        transition-delay: $delay;
                    }
                }
            }

            &:before {
                opacity: 0;
            }
        }
    }

        &:before {
            background-color: rgba(0, 0, 0, 0.3);
        }
}

.button-toggle {
    position: absolute;
    display: inline-block;
    background: white;
    width: 40px;
    height: 40px;
    margin: 15px;
    border: none;
    cursor: pointer;
    border-radius: 100%;
    transition: $transition-duration + 0.1;

    &:hover {
        box-shadow: 0 0 0 8px rgb(255, 255, 255), inset 0 0 0 20px rgb(255, 255, 255);
    }

    &:before, &:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #EC7263;
        border-radius: 5px;
        transition: $transition-duration;
    }

    &:before {
        transform: translateY(-50%) rotate(45deg) scale(0);
    }

    &:after {
        transform: translateY(-50%) rotate(-45deg) scale(0);
    }
}

.nav {
    width: 300px;
    display: inline-block;
    margin: 25px 25px 20px;
    pointer-events: none;
    transition: $transition-duration;
}

.nav-item {
    position: relative;
    display: inline-block;
    float: left;
    clear: both;
    color: transparent;
    font-size: 14px;
    letter-spacing: -6.2px;
    height: 7px;
    line-height: 7px;
    text-transform: uppercase;
    white-space: nowrap;
    transform: scaleY(0.2);
    transition: $transition-duration, opacity 1s;

    @for $i from 1 through $items {
        &:nth-child(#{$i}) {
            $delay: ($i - 1) * $transition-delay;
            transition-delay: $delay;
            &:before {
                transition-delay: $delay;
            }
        }
    }

    &:nth-child(1) {
        letter-spacing: -8px;
    }

    &:nth-child(2) {
        letter-spacing: -7px;
    }

    &:nth-child(n + 4) {
        letter-spacing: -8px;
        margin-top: -7px;
        opacity: 0;
    }

    &:before {
        position: absolute;
        content: '';
        top: 20%;
        right: 0;
        width: 100%;
        height: 2px;
        background-color: #eeeeee;
        transform: translateY(-50%) scaleY(5);
        transition: $transition-duration;
    }
}

@media only screen and (min-width: 1025px) {
    .container {
        display: none;
    }
}
