::-webkit-input-placeholder {font-size: 16px;}
::-moz-placeholder {font-size: 16px;}
:-moz-placeholder {font-size: 16px;}
:-ms-input-placeholder {font-size: 16px;}
:focus::-webkit-input-placeholder {opacity: 0;}
:focus::-moz-placeholder {opacity: 0;}
:focus:-moz-placeholder {opacity: 0;}
:focus:-ms-input-placeholder {opacity: 0;}
.bottom-contacts {
    margin: 0 auto;
    max-width: 1100px;
    display: grid;
    grid-template-columns: 1fr 600px;
    padding: 0 20px;
}
.contacts-info {
    text-align: left;
    padding-right: 10px;
}

.numberBottomForm span {
    font-size: 30px;
    color: #4AB9F2;
    transition: .3s;
}

.numberBottomForm span:hover {
    font-size: 30px;
    color: #2e7295;
    transition: .3s;
}

.mail-adress span {
    color: slategray;
    transition: .3s;
}

.mail-adress span:hover {
    color: #415365;
    transition: .3s;
}

@media only screen and (max-width: 800px) {
    .bottom-contacts {
        grid-template-columns: 1fr;
    }
    .contacts-info {
        text-align: center;
    }
}